<% provide(:title, 'Users') %>
<div class="interior-container">
	<h1>Users</h1>
	<hr>
	<% if @users.none? and params.has_key? :search -%>
		<div class="user-container">
			<p>No users found for: <em>"<%= params[:search] -%>"</em></p>
    	</div>
	<% else  -%>
		<div class="user-container">
			<%= render partial: 'user', collection: @users %>
		</div>
	<% end -%>
</div>
