<% provide(:title, 'Followers') %>

<div class="interior-container">
	<h1>Followers</h1>
	<hr>
	<div class="follow-container">
		<% if @user.followers.count >= 1 %>
			<%= render 'followers' %>
		<% else %>
			<p><%= @user.first_name %> does not have any followers.</p>
		<% end %>
	</div><!-- END .follow-container -->
</div><!-- END .interior-container -->

