<% provide(:title, 'Following') %>

<div class="interior-container">
	<h1>Following</h1>
	<hr>
	<div class="follow-container">
		<%= render 'followers' %>
	</div><!-- END .follow-container -->
</div><!-- END .interior-container -->

