<% provide(:title, 'Following') %>

<div class="interior-container">
	<h1>Following</h1>
	<hr>
	<div class="follow-container">
		<% if @user.followed_users.count >= 1 %>
			<%= render 'followers' %>
		<% else %>
			<p><%= @user.first_name %> is not currently following anyone.</p>
		<% end %>
	</div><!-- END .follow-container -->
</div><!-- END .interior-container -->

