<% provide(:title, 'Followers') %>

<div class="interior-container">
	<h1>Followers</h1>
	<hr>
	<div class="follow-container">
		<%= render 'followers' %>
	</div><!-- END .follow-container -->
</div><!-- END .interior-container -->

