<div class="nested-fields">
	<%= f.input :name, label: false, placeholder: "type something here..." %>
	<%= link_to_remove_association "X", f, class: "btn btn-mini btn-danger", style:"margin-top:-47px;position:absolute;left:420px; color:#fff;" %>
</div>

