<% provide(:title, 'Projects') %>

<div class="interior-container">
  <h1>Projects</h1>
  <% if @projects.none? and params.has_key? :search -%>
    <p>No projects found for: <em>"<%= params[:search] -%>"</em></p>
  <% end -%>
  <div id="projects-search-container">
    <% @projects.each_slice(2) do |projects_for_row| -%>
      <div class="projects_row">
        <%= render partial: 'project', collection: projects_for_row %>
      </div>
    <% end -%>
  </div>
</div>
