<% provide(:title, 'Projects') %>

<div class="interior-container">
  <h1>Projects</h1>
  <% if @projects.none? and params.has_key? :search -%>
    <p>No projects found for: <em>"<%= params[:search] -%>"</em></p>
  <% end -%>
  <div id="projects-search-container">
    <%= render partial: 'project', collection: @projects %>
    <div class="clear"></div>
  </div>
</div>
