<% provide(:title, @project.title) %>

<div class="project-upper">
	<div class="project-upper-content">
		<h1>You Want To Make a Difference. We Want To Help.</h1>
		<img src="/assets/home-featured-arrow.png" align="right" />
	</div><!-- END .project-upper-content -->
</div><!-- END .project-upper -->

<div class="project-upper-bar">
	<div class="project-upper-bar-content">
		<ul id="upper-bar-nav">
			<li><a href="#" class="border">Overview</a></li>
			<li><a href="#">Funding Goals</a></li>
			<li><a href="#">Activity</a></li>
		</ul>
	</div><!-- END .project-upper-bar-content -->
	
	<div class="clear"></div>
</div><!-- END .project-upper-bar -->