<% provide(:title, 'About') %>

<div class="interior-upper">
	<div class="interior-upper-content">
		<h1>ImpactStarter was created to harness the power of private capital for social good.</h1>
		<img src="/assets/home-featured-arrow.png" align="right" />
	</div><!-- END .interior-upper-content -->

</div><!-- END .interior-upper -->

<div class="interior-container">
	<div class="interior-sidebar">
		<ul>
			<li><a href="#">how do I start a project</a></li>
			<li><a href="#">how do I invest</a></li>
			<li><a href="#">how do you make money</a></li>
			<li><%= link_to "terms and conditions", terms_path %></li>
			<li><%= link_to "privacy policy", privacy_path %></li>
		</ul>
	</div><!-- END .interior-sidebar -->
	
	<div class="interior-content-block">
		<div id="interior-slider">
			<img src="http://placehold.it/630x380" width="630" height="380" />
		</div><!-- END .interior-slider -->
		
		<h3>Impact Starter is the easiest way to create an impact in your community.</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<h3>Each project creates a positive impact.</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<div class="blockquote">
			<p>Also called Pay for Success Bonds, Social Impact Bonds “<span class="orange">are new and innovative financing mechanisms for social programs in which government agencies pay only for real, measurable social outcomes &mdash; after those results have been achieved.</span>”</p>
			<div id="byline">&mdash; Center For American Progress</div>
		</div>
		
		<h3>Together we can create measurable improvements.</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		
		<h3>A platform for collaboration.</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div><!-- END .interior-content-block -->
</div><!-- END .interior-container -->