<div id="home-featured">
	<div id="hero-content">
		<img src="/assets/home-featured-arrow.png" align="right" />
		<h1>Harness the power<br>of private capital<br>for social good</h1>
	</div>

	<div id="home-featured-bar">
		<h1>You Want To Make A Difference. We Want To Help.</h1>
		<img src="/assets/home-main-arrow.png" id="home-main-arrow" />
		<%= link_to 'Start A Project', new_project_path, id: 'start-project-btn' %>
	</div><!-- END #home-featured-bar -->

	<div class="clear"></div>
</div><!-- END #home-featured -->

<% if @project -%>
	<div id="home-project-container">
		<%= render partial: '/projects/project', object: @project %>
	</div><!-- END #home-project-container -->
<% end %>
