<div id="home-featured">
	<div id="home-featured-bar">
		<h1>You Want To Make A Difference. We Want To Help.</h1>
		<img src="/assets/home-main-arrow.png" alt="" id="home-main-arrow" />
		<%= link_to 'Start A Project', new_project_path, id: 'start-project-btn' %>
		
		<div class="clear"></div>
	</div><!-- END #home-featured-bar -->
</div><!-- END #home-featured -->

<div id="home-project-container">
	<div class="project">
		<div class="project-header">
			<h1>Hurricane Brandy Relief</h1> <!-- PROJECT TITLE -->
		</div>
		
		<div class="project-image">
			<img src="http://placehold.it/440x310" width="440" height="310" />
		</div>
		
		<div class="project-description">
			<h2>Delaware Red Cross</h2> <!-- ORGANIZATION TITLE -->
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<a href="#" class="learn-more">Learn More &nbsp;&nbsp;&rarr;</a>
		</div>
		
	</div>
	
</div><!-- END #home-project-container -->
