<div id="home-featured">
	<div id="hero-content">
		<h1>A RENEWED VISION FOR A<br> FORGOTTEN CITY.</h1>
		<%= link_to 'LEARN MORE', about_path, id: "learn-more" %>
	</div>

	<div class="clear"></div>
</div><!-- END #home-featured -->

<% if @projects -%>
	<div id="home-project-container">
    <%= render partial: '/projects/project', collection: @projects %>
    <div class="clear"></div>
	</div><!-- END #home-project-container -->
<% end %>
