/*--------------------------------------------
COLORS
---------------------------------------------*/
$orange: #F9A231;
$ltOrange: #FCB34C;
$dkGray: #333333;
$ltGray: #CCCCCC;
$white: #ffffff;
$black: #000000;
$footer: #F0F0F0;
$sidebar: #EDEDED;
$error: #b94a48;

/*--------------------------------------------
FONTS
---------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*--------------------------------------------
MAIN
---------------------------------------------*/
body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

#wrapper {
	margin:0;
	width:100%;
	height:100%;
	min-height:385px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing:1px;
}

a:link, a:visited {
	color: $dkGray;
	&:hover { color: $dkGray; }
}


/*--------------------------------------------
HEADER
---------------------------------------------*/
#main-header {
	margin:0;
	padding:0;
	width:100%;
	height:70px;
	font-family: 'Montserrat', sans-serif;
	background:$orange;

	#header-container {
		margin:0 auto;
		width:960px;
		height:60px;

		a#logo img {
			position:relative;
			top:5px;
			float:left;
		}

		#main-nav {
			position:relative;
			top:25px;
			float:right;

			ul {
				margin:0;
				list-style:none;

				li {
					margin-right: 10px;
					display:inline;
					color: $white;

					a, a:visited {
						display:inline-block;
						letter-spacing:1px;
						font-size:13px;
						font-style:italic;
						color: $white;
						text-decoration:none;
						text-transform: uppercase !important;
						&:hover { text-decoration:underline; }
					}
				}

			}
		}
		
		#main-nav ul li.border { padding-right:15px; border-right:1px solid $white; }
	}
}

/*--------------------------------------------
HEADER SEARCH BAR
---------------------------------------------*/
#search-bar {
	width:100%;
	height: 60px;
	background:$footer;
	border-bottom:2px solid $dkGray;

	ul {
		margin:0 auto;
		padding-top:17px;
		width:960px;
		list-style:none;

		li {
			display:block;
			float: left;
			font-size:18px;
			margin-left: 6px;

			select {
				width: auto;
			}

			input, select {
				margin-bottom:0;
			}

			input[type="text"] {
				width:400px;
				height:20px;
			}
		}
	}
}

/*--------------------------------------------
HOME
---------------------------------------------*/
#home-featured {
	margin:0;
	position:relative;
	width:100%;
	min-width:100%;
	max-width:2500px;
	min-height:400px;
	max-height:400px;
	background: url('/assets/home-hero.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border:none;

	#hero-content {
		margin:0 auto;
		width:960px;

		h1 {
			margin:0;
			position:relative;
			top:75px;
			font-family: 'Montserrat', sans-serif;
			font-weight:lighter;
			font-size:44px;
			color: $white;
			letter-spacing:1px;
			line-height:55px;
		}

		a#learn-more, a#learn-more:visited  {
			position:relative;
			top:90px;
			padding-top:12px;
			width:200px;
			height:30px;
			display:block;
			text-align:center;
			color:$white;
			background:$orange;
			&:hover { background:$ltOrange; text-decoration:none; }
		}
	}
}

#home-project-container {
	position:relative;
	top:-80px;
	margin:0 auto;
	width:960px;
	z-index:9999;
}

#projects-search-container {
	margin:30px auto;
	width:990px;
}

#projects-search-container .project {
  float: left;
}

.projects_row .project:first-child {
  margin-right: 20px;
}

#home-search-container .project {
}

.projects_row {
	clear:both;
	margin: 25px 0;
	height: 300px;
}

.project {
	position:relative;
	width:297px;
	height:300px;
	float:left;
	margin:0 30px 30px 0;
	background:#F7F7F7;
	border-top:1px solid #EDEDED;
	border-right:2px solid #EDEDED;
	border-bottom:2px solid #EDEDED;
	border-left:1px solid #EDEDED;
	
	.project-image {}

	.project-overlay {
		position:absolute;
		bottom:0;
		left:0;
		width:270px;
		height: 120px;
		padding:15px;
		color:$white;
		background:rgba(249, 162, 49, 0.9);
		display:none;

		h2 {
			margin:0;
			font-size:16px;
			line-height:18px;
			font-weight:lighter;
			text-decoration:underline;
		}

		p {
			font-size:12px;
			line-height:14px;
		}

		a.learn-more, a.learn-more:visited {
			color:$white;
			font-size:12px;
			font-style:italic;
		}
	}
}

.project:nth-child(3n+3) {  
	margin-right:0;
}

/*--------------------------------------------
INTERIOR
---------------------------------------------*/
.interior-upper {
	margin:0;
	width:100%;
	min-width:100%;
	max-width:2500px;
	min-height:200px;
	max-height:200px;
	background: url('/assets/interior-header.png') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom:15px solid $orange;

	.interior-upper-content {
		margin:0 auto;
		padding:0;
		width:960px;

		h1 {
			margin:0;
			position:relative;
			top:65px;
			width:750px;
			color:$white;
			font-family: 'chunkfive' !important;
			font-size: 24px;
			line-height:36px;
			text-align:center;
		}

		img {
			position:relative;
			top:-30px;
		}
	}
}

.interior-container {
	margin:30px auto;
	position:relative;
	width:960px;

	h1 {
		margin: 0;
		padding-bottom:3px;
		font-size: 32px;
		line-height:34px;
		font-weight:lighter;
		color:$dkGray;
	}

	hr {
		margin: 0;
		color: $orange;
		background-color: $orange;
		height: 2px;
	}

	p {
		padding:15px 20px;
		margin:0;
	}

	.interior-sidebar {
		margin:0;
		float:left;
		width:250px;

		ul {
			margin:0;
			width:250px;
			list-style: none;
			border-top:1px solid $sidebar;
			border-right:2px solid $sidebar;
			border-bottom:2px solid $sidebar;
			border-left:1px solid $sidebar;

			li {
				width:250px;
				height:60px;
				text-align:center;
				background:$white;

				a:link, a:visited {
					padding-top:20px;
					display:inline-block;
					width:250px;
					height:40px;
					font-size:16px;
					border-right:1px solid #CCCCCC;
					border-bottom:1px solid #CCCCCC;
					&:hover { text-decoration:none; background:$sidebar; }
				}
			}
		}
	}

	.interior-sidebar ul li a.active { background: $sidebar; }

	.interior-content-block {
		float:left;
		margin-left:80px;
		width:630px;

		#interior-slider {
			padding:0 0 30px 0;
		}

		h3 {
			margin:25px 0 5px 0;
			font-size:18px;
			line-height:22px;
			font-weight:lighter;
			color: $dkGray;
		}

		p {
			margin:0;
			padding:5px 0;
			font-size:13px;
		}

		.blockquote {
			margin:25px 0 10px 0;
			position:relative;
			width:630px;
			height:160px;
			background:#f7f7f7;
			border-top:1px solid $dkGray;
			border-bottom:1px solid $dkGray;

			p {
				margin:0 auto;
				position:relative;
				top:20px;
				width:560px;
				font-size:16px;
				font-style:italic;
				line-height:24px;

				span.orange {color: $orange; }
			}

			#byline {
				float:right;
				position:relative;
				top:10px;
				right:40px;
				font-size:16px;
			}
		}
	}
}

/*--------------------------------------------
FAQs
---------------------------------------------*/
.accordion {
	position:relative;
	top:20px;

	a:link, a:visited {
		font-size:16px;
		font-style:italic;

		&:hover { text-decoration:none; }
	}
}

/*--------------------------------------------
USER PROFILE
---------------------------------------------*/
#profile-container {
	margin:30px auto;
	width:960px;

	#profile-main {
		position:relative;
		float:left;

		#profile-header {
			width:650px;
			height:185px;
			background:url('/assets/profile-header-bkgd.jpg');

			a.edit-link {
				position:absolute;
				top:5px;
				right:10px;
				color:$white;
			}

			img#profile-img {
				float:left;
				max-width:185px;
				max-height:185px;
				min-width:185px;
				min-height:185px;
			}

			#profile-header-content {
				position:relative;
				top:10px;
				left:25px;
				float:left;
				color:$white;

				h1 { font-size:40px; font-weight:lighter; }

				p { font-size:14px; }

				p span { font-style:italic; }

				ul {
					margin:0;
					list-style:none;

					li {
						display:inline;

						a img { margin-right:5px; }
					}
				}
			}
		}

		ul#profile-buttons {
			margin:20px 0 0 0;
			list-style:none;

			li {
				display:inline;

				 a:link, a:visited {
					padding-top:7px;
					margin-right:3px;
					width:157px;
					height:25px;
					display:inline-block;
					font-size:13px;
					text-align:center;
					color:$white;
					background: $orange;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
				}
			}
		}

		ul#profile-buttons li a.active {
			background: $ltOrange;
		}

		ul#profile-buttons li a.not-active {
			text-decoration: line-through;
			&:hover { text-decoration: line-through; }
		}

		.profile-block {
			margin-top:30px;
			width:100%;
			background: #F7F7F7;
			border-top:1px solid #EDEDED;
			border-right:2px solid #EDEDED;
			border-bottom:2px solid #EDEDED;
			border-left:1px solid #EDEDED;

			.profile-block-content {
				max-width:650px;

				h3 {
					margin:0;
					padding:15px 20px 5px 20px;
					font-size:22px;
					line-height:24px;
					font-weight:lighter;
					color:$dkGray;
				}

				hr {
					margin:8px 0;
					border: 0;
				    height: 1px;
					background:#CCCCCC;
				}

				.profile-bio {
					padding:15px 20px 15px 20px;
				}

				.profile-projects {
					padding:15px 20px 15px 20px;
					border-bottom:1px solid #CCCCCC;

					h4 a, h4 a:visited {
						margin:5px 0;
						color:$orange;
						font-weight:lighter;
						font-style:italic;
					}
				}

				.activity {
					padding:15px 20px 15px 20px;
					border-bottom:1px solid #CCCCCC;

					a:link, a:visited {
						color:$orange;
					}

					span.time { font-size:12px; color: #AAA; }
				}
			}
		}
	}

	#profile-sidebar {
		position:relative;
		left:60px;
		margin:0;
		float:left;
		padding:20px;
		width:210px;
		height:auto;
		background: #F7F7F7;
		border-top:1px solid #EDEDED;
		border-right:2px solid #EDEDED;
		border-bottom:2px solid #EDEDED;
		border-left:1px solid #EDEDED;

		h2 {
			margin:0;
			font-size:18px;
			font-weight:lighter;
			color: $dkGray;
			text-decoration:underline;
		}

		ul {
			margin:0;
			list-style:none;

			li {
				margin-bottom:8px;
				display:inline-block;

				a:link, a:visited {
					position:relative;
					top:3px;
					left:10px;
					font-size:12px;
					color:$dkGray;

				}

				img {
					width:30px;
					height:30px;
					max-width:30px;
					max-height:30px;
					min-width:30px;
					min-height:30px;
				}
			}
		}
	}
}

ul#profile-edit {
	margin:20px 0 20px 0;
	list-style:none;

	li {
		display:inline;

		 a:link, a:visited {
			padding-top:7px;
			margin-right:3px;
			width:157px;
			height:25px;
			display:inline-block;
			font-size:13px;
			text-align:center;
			color:$white;
			background: $orange;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
	}
}

ul#profile-edit li a.active {
	background: $ltOrange;
}

.connection-container, .follow-container, .user-container, .organization-container {
	margin:20px auto;
	width:700px;
	height:auto;
	background: #F7F7F7;
	border-top:1px solid #EDEDED;
	border-right:2px solid #EDEDED;
	border-bottom:2px solid #EDEDED;
	border-left:1px solid #EDEDED;

	.connection-item, .follower-item, .user-item, .organization-item {
		position:relative;
		padding:20px;
		border-bottom:1px solid #CCCCCC;

		img {
			margin-right:10px;
			width:60px;
			height:60px;
			min-width:60px;
			min-height:60px;
			max-width:60px;
			max-height:60px;
		}

		a, a:visited {
			position:relative;
			top:8px;
			color:$orange;
			font-weight:bolder;
			font-style:italic;
		}

		p {
			padding:8px 0 0 0;
		}
		
		a.view-profile-btn {
			position:absolute;
			top:30px;
			right:60px;
			padding-top:10px;
			width:157px;
			height:30px;
			display:inline-block;
			font-size:13px;
			text-align:center;
			color:#ffffff;
			background: #F9A231;
			border:none;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}

		a.view-profile-btn:hover {
			text-decoration:none; 
			background:#FCB34C;
		}
	}
}

/*--------------------------------------------
PROJECT STYLES
---------------------------------------------*/
.project-upper {
	margin:0;
	width:100%;
	min-width:100%;
	max-width:2500px;
	min-height:200px;
	max-height:200px;
	background: url('/assets/interior-header.png') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.project-upper-content {
		margin:0 auto;
		padding:0;
		width:960px;

		h1 {
			margin:0;
			position:relative;
			top:80px;
			width:750px;
			color:$white;
			font-family: 'chunkfive' !important;
			font-size: 26px;
			line-height:32px;
			text-align:center;
		}

		img {
			position:relative;
			top:0px;
		}
	}
}

.project-upper-bar {
	margin:0;
	width:100%;
	height:50px;
	background: $orange;

	.project-upper-bar-content {
		margin:0 auto;
		width:960px;
		height:50px;

		ul#upper-bar-nav {
			float:left;
			list-style:none;

			li {
				margin:0 -4px 0 0;
				display:inline;
				width:150px;
				height:50px;
				text-align:center;


				a, a:visited {
					padding-top:15px;
					display:inline-block;
					width:150px;
					height:35px;
					color:$white;
					font-size:15px;
					border-right:1px solid $dkGray;
				}
			}
		}
	}
}

#project-container {
	margin:0;
	width:100%;
	height:auto;

	#project-container-content {
		margin:30px auto;
		width: 960px;
		min-height:110px;

		#project-main {
			float:left;
			width:590px;

			#project-video {}

			#project-funding {
				position:relative;
				top:30px;
				margin-bottom:30px;
			}


			.project-block {
				position:relative;
				float:left;
				padding:15px;
				width:560px;
				height:auto;
				background: #F7F7F7;
				border-top:1px solid #EDEDED;
				border-right:2px solid #EDEDED;
				border-bottom:2px solid #EDEDED;
				border-left:1px solid #EDEDED;

				h1 {
					margin:0;
					padding:0;
					color:$dkGray;
					font-size:28px;
					font-weight:lighter;
				}

				a.project-edit {
					position:absolute;
					top:10px;
					right:10px;
				}

				#project-video {
					margin:15px 0;
				}

				h2 {
					color:$dkGray;
					font-size:22px;
					font-weight:lighter;
					line-height:24px;
				}

				.project-description {
					padding-bottom:20px;
					font-size:13px;
					color:$dkGray;
				}

				#funding-diagram {
					margin:20px 0;
					padding:0;
					width:560px;
					height:auto;

					.funding-box {
						float:left;
						width:160px;
						height:140px;
						background:$ltGray;

						h5 {
							margin:0;
							padding:8px 0 0 10px;
							font-size:12px;
							text-decoration:underline;
						}

						h2 {
							position:relative;
							top:25px;
							font-size:38px;
							font-weight:bolder;
							text-align:center;
						}
					}

					h3 {
						position:relative;
						top:50px;
						padding:0 8px;
						float:left;
						font-size:20px;
					}

					ul#tag-list {
						margin:0;
						padding:8px;

						li {
							margin-bottom:8px;
							display:inline-block;

							a, a:visited {
								padding:5px;
								font-size:11px;
								color:$white;
								background:$dkGray;
							}
						}
					}
				}
			}
		}

		#project-sidebar {
			position:relative;
			left:40px;
			float:left;
			width:330px;

			#project-founders {}

			#project-objectives {
				position:relative;
				top:30px;
			}

			.project-sidebar-block {
				float:left;
				padding:15px;
				width:300px;
				height:auto;
				background: #F7F7F7;
				border-top:1px solid #EDEDED;
				border-right:2px solid #EDEDED;
				border-bottom:2px solid #EDEDED;
				border-left:1px solid #EDEDED;

				h3 {
					font-size:18px;
					font-weight:lighter;
					color:$dkGray;
					line-height:20px;
				}

				.founder-image {
					margin-right:10px;
					border-top:1px solid #EDEDED;
					border-right:2px solid #EDEDED;
					border-bottom:2px solid #EDEDED;
					border-left:1px solid #EDEDED;
				}

				ol {
					margin:0;
					padding:0 0 25px 0;
					counter-reset: li; /* Initiate a counter */
					list-style: none; /* Remove default numbering */
					*list-style: decimal; /* Keep using default numbering for IE6/7 */

					li {
						padding:3px 0 0 0;
						border-bottom:4px solid $ltGray;
					}
				}

				.objectives-list p {
					position: relative;
					display: block;
					padding: 5px 5px 5px 35px;
					*padding: 5px;
					margin: 8px 0;
					font-size:13px;
					color: $dkGray;
				}

				.objectives-list p:before{
					content: counter(li);
					counter-increment: li;
					position: absolute;
					left: -.3em;
					top: 50%;
					margin-top: -1.1em;
					background: $orange;
					height: 2em;
					width: 2em;
					color:$white;
					line-height: 2em;
					font-size:16px;
					text-align: center;
					font-weight: bold;
					border-radius: 2em;
					transition: all .3s ease-out;
				}
			}
		}
	}
}

ul#project-form-tabs {
	margin:20px 0 0 0;
	list-style:none;

	li {
		display:inline;

		 a:link, a:visited {
			padding-top:7px;
			margin-right:3px;
			width:157px;
			height:25px;
			display:inline-block;
			font-size:13px;
			text-align:center;
			color:$white;
			background: $orange;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
	}
}

ul#project-form-tabs li a.active {
	background: $ltOrange;
}

ul#project-form-tabs li a.not-active {
	text-decoration: line-through;
	&:hover { text-decoration: line-through; }
}

#project-form-container {
	margin-top:20px;

	.links {
		margin-bottom:20px;
	}
}

/*--------------------------------------------
ORGANIZATION STYLES
---------------------------------------------*/
#org-container {
	margin:0;
	width:100%;
	height:auto;

	#org-container-content {
		margin:30px auto;
		width: 960px;
		min-height:110px;

		#org-main {
			position:relative;
			float:left;
			width:590px;

			#org-header {
				margin-bottom:30px;
				float:left;
				width:590px;
				height:185px;
				background: url("/assets/profile-header-bkgd.jpg");

				a.edit-link {
					position:absolute;
					top:5px;
					right:10px;
					color:$white;
				}

				img.org-image {
					float:left;
					min-width:185px;
					max-width:185px;
					min-height:185px;
					max-height:185px;
				}

				#org-header-content {
					position:relative;
					top:10px;
					left:15px;
					color:$white;

					h1 { font-size:28px; font-weight:lighter; }

					p { font-size:14px; }
				}
			}

			.org-block {
				float:left;
				width:590px;
				height:auto;
				background: #F7F7F7;
				border-top:1px solid #EDEDED;
				border-right:2px solid #EDEDED;
				border-bottom:2px solid #EDEDED;
				border-left:1px solid #EDEDED;

				h3 {
					margin:0;
					padding:15px 20px 5px 20px;
					font-size:22px;
					line-height:24px;
					font-weight:lighter;
					color:$dkGray;
				}

				hr {
					margin:8px 0;
					border: 0;
				    height: 1px;
					background:#CCCCCC;
				}

				.org-description {
					padding:15px 20px 15px 20px;
				}
			}
		}

		#org-sidebar {
			position:relative;
			left:40px;
			float:left;
			width:330px;

			#org-directors {}

			.org-sidebar-block {
				float:left;
				padding:15px;
				width:300px;
				height:auto;
				background: #F7F7F7;
				border-top:1px solid #EDEDED;
				border-right:2px solid #EDEDED;
				border-bottom:2px solid #EDEDED;
				border-left:1px solid #EDEDED;

				h3 {
					font-size:18px;
					font-weight:lighter;
					color:$dkGray;
					line-height:20px;
				}

				.director-image {
					margin-right:10px;
					border-top:1px solid #EDEDED;
					border-right:2px solid #EDEDED;
					border-bottom:2px solid #EDEDED;
					border-left:1px solid #EDEDED;
				}
			}
		}
	}
}
/*--------------------------------------------
FOOTER
---------------------------------------------*/
#footer {
	margin:40px auto 0 auto;
	padding:0;
	width:100%;
	height:150px;
	background: $footer;
	border-top:1px solid #999999;

	#footer-container {
		margin:0 auto;
		position:relative;
		top:70px;
		width:960px;
		text-align:center;

		ul {
			padding-top:15px;
			list-style:none;

			li {
				margin-right: 8px;
				display:inline;

				a, a:visited {
					color: black;
					text-decoration:none;
					&:hover { text-decoration:underline; }
				}
			}
		}
	}
}

/*--------------------------------------------
GENERAL FORM STYLES
---------------------------------------------*/
input.string, input.password  {
	width:400px;
	min-width:400px;
	max-width:400px;
}

textarea.text {
	width:400px;
	min-width:400px;
	max-width:400px;
	height: 50px;
	min-height: 50px;
	max-height: 200px;
}

/*--------------------------------------------
MISC
---------------------------------------------*/
#wrapper .alert { margin-bottom: 0px; }

a#linkedin-btn { margin-bottom:20px; color:#ffffff; text-shadow:1px 1px 1px $black; background:#4875B4; border:1px solid #AAA; }

a#linkedin-btn:hover { background: rgba(72, 117, 180, 0.9); }

.clear { clear:both; float:none; }

.hide { display: none; }

#error_explanation {
	margin:0 0 10px 0;
	max-width: 500px;
	background: $footer;
	border:1px solid #999999;

	h2 {
		padding:5px 10px;
		font-size:22px;
		line-height:24px;
		color: $error;
	}

	ul {
		padding:0 10px;
	}
}

/*
input[type="submit"].follow-btn, input[type="submit"].follow-pages-btn {
	padding-top:5px;
	width:157px;
	height:32px;
	display:inline-block;
	font-size:13px;
	text-align:center;
	color:$white;
	background: $orange;
	border:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	&:hover { text-decoration:none; background:$ltOrange; }
}

input[type="submit"].follow-btn {
	position:absolute;
	top:90px;
	right:20px;
}

input[type="submit"].follow-pages-btn {
	position:absolute;
	top:40px;
	right:60px;
}
*/

textarea[name="invitation[message]"] {
	height: 16em;
}
