/*--------------------------------------------
COLORS
---------------------------------------------*/
$orange: #DE6C14;
$ltOrange: #ed8738;
$dkGray: #333333;
$ltGray: #CCCCCC;
$white: #ffffff;
$black: #000000;
$footer: #F0F0F0;
$sidebar: #EDEDED;
$error: #b94a48;

/*--------------------------------------------
FONTS
---------------------------------------------*/
@font-face {
    font-family: 'chunkfive';
    src: url('/app/assets/fonts/chunkfive-webfont.eot');
    src: url('/app/assets/fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('/app/assets/fonts/chunkfive-webfont.woff') format('woff'),
         url('/app/assets/fonts/chunkfive-webfont.ttf') format('truetype'),
         url('/app/assets/fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*--------------------------------------------
MAIN
---------------------------------------------*/
body { 
	margin:0; 
	padding:0; 
	width:100%;
	height:100%;
	/*background: url('/assets/main-bkgd.png') repeat;*/
}

#wrapper {
	margin:0; 
	width:100%;
	height:100%;
	min-height:385px;
}

a:link, a:visited { 
	color: $dkGray; 
	&:hover { color: $dkGray; }
}


/*--------------------------------------------
HEADER
---------------------------------------------*/
#main-header {
	margin:0;
	padding:0;
	width:100%;
	height:70px;
	background:$orange;
	border-bottom:2px solid $dkGray; 
	
	#header-container {
		margin:0 auto;
		width:960px;
		height:60px;
		
		a#logo {
			position:relative;
			top:25px;
			float:left;
			color: $white;
			font-size:30px;
			text-decoration:none;
			&:hover { text-decoration:none; }
		}
		
		#top-nav {
			position:relative;
			left:30px; 
			float:left;
			
			ul {
				margin:0;
				list-style:none;
				
				li {
					margin:0 -4px 0 0;
					display:inline;
					width:150px;
					height:70px;
					text-align:center;
					
					a, a:visited {
						padding-top:15px;
						display:inline-block;
						width:150px;
						height:55px;
						font-size:18px;
						color:$white;
						border-right:1px solid $dkGray;	
						&:hover { text-decoration:none; color:$dkGray; background:$white; }
					}
	
					a span.smaller { font-size:14px; }			
				}
			}
		}
		
		#main-nav {
			position:relative;
			top:25px;
			float:right;
			
			ul {
				margin:0;
				list-style:none;
				
				li {
					margin-right: 8px;
					display:inline;
					color: $white;
					
					a, a:visited {
						font-size:13px;
						color: $white;
						text-decoration:none;
						&:hover { text-decoration:underline; }
					}
				}
				
			}
		}
	}
}

/*--------------------------------------------
HEADER SEARCH BAR
---------------------------------------------*/
#search-bar {
	width:100%; 
	height: 60px;
	background:$footer;
	border-bottom:2px solid $dkGray;
	
	ul {
		margin:0 auto;
		padding-top:17px;
		width:960px;
		list-style:none;
		
		li {
			display:inline;
			font-size:18px;
			
			input {
				margin-bottom:0;
			}
			
			input[type="text"] {
				width:400px; 
				height:20px;
			}
		}
	}
}

/*--------------------------------------------
HOME
---------------------------------------------*/
#home-featured {
	margin:0;
	position:relative;
	width:100%; 
	min-width:100%;
	max-width:2500px;
	min-height:500px;
	max-height:500px;
	background: url('/assets/home-main-1.png') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border:none;
	
	#hero-content {
		margin:0 auto;
		width:960px;
		
		h1 {
		 	position:relative;
			top:130px;
			left:30px;
			margin:0;
			font-family: 'chunkfive' !important;
			font-size:60px;
			color: $white;
			line-height:65px;
			text-shadow:1px 1px 1px $black;
		}
		
		img {
			position:relative;
			top:170px;
		}
	}
	
	#home-featured-bar {
		position:relative;
		top:235px;
		margin:0 auto;
		width:960px;
		height:70px;
		background:$orange;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		
		h1 {
			position:relative;
			top:5px;
			padding:0 50px 0 50px;
			float:left;
			font-size:21px;
			font-weight:lighter;
			color:$white;
		}
		
		img#home-main-arrow {
			position:relative;
			top:11px;
			float:left;
			margin-right:60px;
			max-width:81px;
			max-height:48px;
		}
		
		a#start-project-btn {
			float:left;
			padding-top:25px;
			width:170px;
			height:45px;
			font-size:20px;
			color:$white;
			text-align:center;
			border-right:1px solid $dkGray;
			border-left:1px solid $dkGray;
			&:hover { text-decoration:none; color:$dkGray; }
		}
	}
}

#home-project-container {
	margin:30px auto;
	width:960px;
	
	.project {
		margin:0;
		width:480px;
		height:425px;
		background:$footer;
		box-shadow: 1px 1px 5px #666666;
		
		.project-header {
			width:100%;
			height:50px;
			border-bottom:1px solid $dkGray;
			
			h1 {
				position:relative;
				top:8px;
				left:20px;
				font-size:24px;
				font-weight:lighter;
				color: $dkGray;
			}
		}
		
		.project-image {
			position:relative;
			top:7px;
			text-align:center;
			z-index:99;
			
			img {
				margin:0;
				padding:0;
				max-width:440px;
				max-height:310px;
			}
		}
		
		.project-description {
			position:relative;
			top:-37px;
			width:450px;
			height:70px;
			padding:15px;
			color:$dkGray;
			background:#C4C4C4;
			border-top:1px solid #999999;
			z-index:999;
			
			h2 {
				margin:0;
				font-size:18px;
				line-height:20px;
				font-weight:lighter;
				text-decoration:underline;
			}
			
			p {
				width:360px;
				font-size:14px;
				line-height:17px;
			}
			
			a.learn-more {
				position:absolute;
				right:5px;
				bottom:5px;
				color:$white;
				font-size:13px;
			}
		}
	}
}

/*--------------------------------------------
INTERIOR
---------------------------------------------*/
.interior-upper {
	margin:0;
	width:100%; 
	min-width:100%;
	max-width:2500px;
	min-height:200px;
	max-height:200px;
	background: url('/assets/interior-header.png') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom:15px solid $orange;
	
	.interior-upper-content {
		margin:0 auto;
		padding:0;
		width:960px;
		
		h1 {
			margin:0;
			position:relative;
			top:65px;
			width:750px;
			color:$white;
			font-family: 'chunkfive' !important;
			font-size: 24px;
			line-height:36px;
			text-align:center;
		}
		
		img {
			position:relative;
			top:-30px;
		}
	}
}

.interior-container {
	margin:30px auto;
	position:relative;
	width:960px;
	
	h1 {
		margin: 0;
		padding-bottom:3px;
		font-size: 32px;
		line-height:34px;
		font-weight:lighter;
		color:$dkGray;
	}
	
	hr { 
		margin: 0;
		color: $orange;
		background-color: $orange;
		height: 2px;
	}
	
	p { 
		padding:15px 20px;
		margin:0;
	}
	
	.interior-sidebar {
		margin:0;
		float:left;
		width:250px;
		
		ul {
			margin:0;
			width:250px;
			list-style: none;
			border-top:1px solid $sidebar;
			border-right:2px solid $sidebar;
			border-bottom:2px solid $sidebar;
			border-left:1px solid $sidebar;
			
			li { 
				width:250px;
				height:60px;
				text-align:center;
				background:$white;
				
				a:link, a:visited {
					padding-top:20px;
					display:inline-block;
					width:250px;
					height:40px;
					font-size:16px;
					border-right:1px solid #CCCCCC;
					border-bottom:1px solid #CCCCCC;
					&:hover { text-decoration:none; background:$sidebar; }
				}
			}
		}
	}
	
	.interior-sidebar ul li a.active { background: $sidebar; }
	
	.interior-content-block {
		float:left;
		margin-left:80px;
		width:630px;
		
		#interior-slider {
			padding:0 0 30px 0;
		}
		
		h3 {
			margin:25px 0 5px 0;
			font-size:18px;
			line-height:22px;
			font-weight:lighter;
			color: $dkGray;
		}
		
		p {
			margin:0;
			padding:5px 0;
			font-size:13px;
		}
		
		.blockquote {
			margin:25px 0 10px 0;
			position:relative;
			width:630px;
			height:160px;
			background:#f7f7f7;
			border-top:1px solid $dkGray;
			border-bottom:1px solid $dkGray;
			
			p {
				margin:0 auto;
				position:relative;
				top:20px;
				width:560px;
				font-size:16px;
				font-style:italic;
				line-height:24px;
				
				span.orange {color: $orange; }
			}
			
			#byline {
				float:right;
				position:relative;
				top:10px;
				right:40px;
				font-size:16px;
			}
		}
	}
}

/*--------------------------------------------
FAQs
---------------------------------------------*/
.accordion {
	position:relative;
	top:20px;
	
	a:link, a:visited {
		font-size:16px;
		font-style:italic;
		
		&:hover { text-decoration:none; }
	}
}

/*--------------------------------------------
USER PROFILE
---------------------------------------------*/
#profile-container {
	margin:30px auto;
	width:960px;
	
	#profile-main {
		position:relative;
		float:left;
		
		#profile-header {
			width:650px;
			height:185px;
			background:url('/assets/profile-header-bkgd.jpg');

			a.edit-link {
				position:absolute;
				top:5px;
				right:10px;
				color:$white;
			}

			img#profile-img {
				float:left;
				max-width:185px;
				max-height:185px;
				min-width:185px;
				min-height:185px;
			}

			#profile-header-content {
				position:relative;
				top:10px;
				left:25px;
				float:left;
				color:$white;

				h1 { font-size:40px; font-weight:lighter; }

				p { font-size:14px; }

				p span { font-style:italic; }
				
				ul {
					margin:0;
					list-style:none;
					
					li {
						display:inline;
						
						a img { margin-right:5px; }
					}
				}
			}
		}
		
		ul#profile-buttons {
			margin:20px 0 0 0;
			list-style:none;
			
			li {
				display:inline;
				
				 a:link, a:visited {
					padding-top:7px;
					margin-right:3px;
					width:157px;
					height:25px;
					display:inline-block;
					font-size:13px;
					text-align:center;
					color:$white;
					background: $orange;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
				}
			}
		}
		
		ul#profile-buttons li a.active {
			background: $ltOrange;
		}
		
		ul#profile-buttons li a.not-active {
			text-decoration: line-through;
			&:hover { text-decoration: line-through; }
		}
		
		.profile-block {
			margin-top:30px;
			width:100%;
			background: #F7F7F7;
			border-top:1px solid #EDEDED;
			border-right:2px solid #EDEDED;
			border-bottom:2px solid #EDEDED;
			border-left:1px solid #EDEDED;
			
			.profile-block-content {
				max-width:650px;
				
				h3 {
					margin:0;
					padding:15px 20px 5px 20px;
					font-size:22px;
					line-height:24px;
					font-weight:lighter;
					color:$dkGray;
				}
				
				hr {
					margin:8px 0;
					border: 0;
				    height: 1px;
					background:#CCCCCC;
				}
				
				.profile-bio {
					padding:15px 20px 15px 20px;
				}
				
				.profile-projects {
					padding:15px 20px 15px 20px; 
					border-bottom:1px solid #CCCCCC;
					
					h4 a, h4 a:visited {
						margin:5px 0;
						color:$orange;
						font-weight:lighter;
						font-style:italic;
					}
				}
				
				.activity {
					padding:15px 20px 15px 20px; 
					border-bottom:1px solid #CCCCCC;
					
					a:link, a:visited {
						color:$orange;
					}
					
					span.time { font-size:12px; color: #AAA; }
				}
			}
		}
	}
	
	#profile-sidebar {
		position:relative;
		left:60px;
		margin:0;
		float:left;
		padding:20px;
		width:210px;
		height:auto;
		background: #F7F7F7;
		border-top:1px solid #EDEDED;
		border-right:2px solid #EDEDED;
		border-bottom:2px solid #EDEDED;
		border-left:1px solid #EDEDED;
		
		h2 {
			margin:0;
			font-size:18px;
			font-weight:lighter;
			color: $dkGray;
			text-decoration:underline;
		}
		
		ul {
			margin:0;
			list-style:none;
			
			li {
				margin-bottom:8px;
				display:inline-block;
				
				a:link, a:visited {
					position:relative;
					top:3px;
					left:10px;
					font-size:12px;
					color:$dkGray;
		
				}
				
				img {
					max-width:30px;
					max-height:30px;
					min-width:30px;
					min-height:30px;
				}
			}
		}
	}
}

ul#profile-edit {
	margin:20px 0 20px 0;
	list-style:none;
	
	li {
		display:inline;
		
		 a:link, a:visited {
			padding-top:7px;
			margin-right:3px;
			width:157px;
			height:25px;
			display:inline-block;
			font-size:13px;
			text-align:center;
			color:$white;
			background: $orange;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
	}
}

ul#profile-edit li a.active {
	background: $ltOrange;
}

/*--------------------------------------------
PROJECT STYLES
---------------------------------------------*/
.project-upper {
	margin:0;
	width:100%; 
	min-width:100%;
	max-width:2500px;
	min-height:200px;
	max-height:200px;
	background: url('/assets/interior-header.png') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	.project-upper-content {
		margin:0 auto;
		padding:0;
		width:960px;
		
		h1 {
			margin:0;
			position:relative;
			top:80px;
			width:750px;
			color:$white;
			font-family: 'chunkfive' !important;
			font-size: 26px;
			line-height:32px;
			text-align:center;
		}
		
		img {
			position:relative;
			top:0px;
		}
	}
}

.project-upper-bar {
	margin:0;
	width:100%;
	height:50px;
	background: $orange;
	
	.project-upper-bar-content {
		margin:0 auto;
		width:960px;
		height:50px;
		
		ul#upper-bar-nav {
			float:left;
			list-style:none;
			
			li {
				margin:0 -4px 0 0;
				display:inline;
				width:150px;
				height:50px;
				text-align:center;
				
				
				a, a:visited {
					padding-top:15px;
					display:inline-block;
					width:150px;
					height:35px;
					color:$white;
					font-size:15px;
					border-right:1px solid $dkGray;
				}
			}
		}
	}
}

#project-container {
	margin:0;
	width:100%;
	height:auto;
	
	#project-container-content {
		margin:30px auto;
		width: 960px;
		min-height:110px;
		
		#project-main {
			float:left;
			width:590px;
			
			#project-video {}

			#project-funding {
				position:relative; 
				top:30px;
				margin-bottom:30px;
			}


			.project-block {
				float:left;
				padding:15px;
				width:560px;
				height:auto;
				background: #F7F7F7;
				border-top:1px solid #EDEDED;
				border-right:2px solid #EDEDED;
				border-bottom:2px solid #EDEDED;
				border-left:1px solid #EDEDED;

				h1 {
					margin:0;
					padding:0;
					color:$dkGray;
					font-size:28px;
					font-weight:lighter;
				}

				#project-video {
					margin:15px 0;
				}

				h2 {
					color:$dkGray;
					font-size:22px;
					font-weight:lighter;
					line-height:24px;
				}

				.project-description {
					padding-bottom:20px;
					font-size:13px;
					color:$dkGray;
				}
				
				#funding-diagram {
					margin:20px 0;
					padding:0;
					width:560px;
					height:auto;
					
					.funding-box {
						float:left;
						width:160px;
						height:140px;
						background:$ltGray;
						
						h5 {	
							margin:0;
							padding:8px 0 0 10px;
							font-size:12px;
							text-decoration:underline;
						}
						
						h2 {
							position:relative;
							top:25px;
							font-size:38px;
							font-weight:bolder;
							text-align:center;
						}
					}
					
					h3 {
						position:relative;
						top:50px;
						padding:0 8px;
						float:left;
						font-size:20px;
					}
					
					ul#tag-list {
						margin:0;
						padding:8px;
						
						li {
							margin-bottom:8px;
							display:inline-block;
							
							a, a:visited {
								padding:5px;
								font-size:11px;
								color:$white;
								background:$dkGray;
							}
						}
					}
				}
			}
		}
		
		#project-sidebar {
			position:relative;
			left:40px;
			float:left;
			width:330px;

			#project-founders {}
			
			#project-objectives {
				position:relative;
				top:30px;
			}
			
			.project-sidebar-block {
				float:left;
				padding:15px;
				width:300px;
				height:auto;
				background: #F7F7F7;
				border-top:1px solid #EDEDED;
				border-right:2px solid #EDEDED;
				border-bottom:2px solid #EDEDED;
				border-left:1px solid #EDEDED;
				
				h3 {
					font-size:18px;
					font-weight:lighter;
					color:$dkGray;
					line-height:20px;
				}
				
				.founder-image {
					margin-right:10px;
					border-top:1px solid #EDEDED;
					border-right:2px solid #EDEDED;
					border-bottom:2px solid #EDEDED;
					border-left:1px solid #EDEDED;
				}
				
				ol {
					margin:0;
					padding:0 0 25px 0;
					counter-reset: li; /* Initiate a counter */
					list-style: none; /* Remove default numbering */
					*list-style: decimal; /* Keep using default numbering for IE6/7 */
					
					li {
						padding:3px 0 0 0;
						border-bottom:4px solid $ltGray;
					}
				}

				.objectives-list p {
					position: relative;
					display: block;
					padding: 5px 5px 5px 35px;
					*padding: 5px;
					margin: 8px 0;
					font-size:13px;
					color: $dkGray;
				}

				.objectives-list p:before{
					content: counter(li);
					counter-increment: li;
					position: absolute;	
					left: -.3em;
					top: 50%;
					margin-top: -1.1em;
					background: $orange;
					height: 2em;
					width: 2em;
					color:$white;
					line-height: 2em;
					font-size:16px;
					text-align: center;
					font-weight: bold;
					border-radius: 2em;
					transition: all .3s ease-out;
				}
			}
		}	
	}
}

ul#project-form-tabs {
	margin:20px 0 0 0;
	list-style:none;

	li {
		display:inline;

		 a:link, a:visited {
			padding-top:7px;
			margin-right:3px;
			width:157px;
			height:25px;
			display:inline-block;
			font-size:13px;
			text-align:center;
			color:$white;
			background: $orange;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
	}
}

ul#project-form-tabs li a.active {
	background: $ltOrange;
}

ul#project-form-tabs li a.not-active {
	text-decoration: line-through;
	&:hover { text-decoration: line-through; }
}

#project-form-container {
	margin-top:20px;
	
	.links {
		margin-bottom:20px;
	}
}

/*--------------------------------------------
FOOTER
---------------------------------------------*/
#footer {
	margin:40px auto 0 auto;
	padding:0;
	width:100%;
	height:150px;
	background: $footer;
	border-top:1px solid #999999;
	
	#footer-container {
		margin:0 auto;
		position:relative;
		top:70px;
		width:960px; 
		text-align:center;
		
		ul {
			padding-top:15px;
			list-style:none;

			li {
				margin-right: 8px; 
				display:inline; 

				a, a:visited {
					color: black;
					text-decoration:none;
					&:hover { text-decoration:underline; }
				}
			}
		}
	}
}

/*--------------------------------------------
GENERAL FORM STYLES
---------------------------------------------*/
input.string {
	width:400px;
	min-width:400px;
	max-width:400px;	
}

textarea.text {
	width:400px;
	min-width:400px;
	max-width:400px;
	height: 50px;
	min-height: 50px;
	max-height: 200px;
}

/*--------------------------------------------
MISC
---------------------------------------------*/
#wrapper .alert { margin-bottom: 0px; }

.clear { clear:both; float:none; }

.hide { display: none; }

a.border { border-left:1px solid $dkGray; }	

#error_explanation {
	margin:0 0 10px 0;
	max-width: 500px;
	background: $footer;
	border:1px solid #999999;
	
	h2 { 
		padding:5px 10px;
		font-size:22px;
		line-height:24px;
		color: $error;
	}
	
	ul {
		padding:0 10px;
	}
}

input[type="submit"].follow-btn {
	position:absolute;
	top:90px;
	right:20px;
	padding-top:5px;
	width:157px;
	height:32px;
	display:inline-block;
	font-size:13px;
	text-align:center;
	color:$white;
	background: $orange;
	border:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	&:hover { text-decoration:none; background:$ltOrange; }
}