<div class="clear"></div>

<div id="footer">
	<div id="footer-container">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Terms", terms_path %></li>
			<li><%= link_to "Privacy", privacy_path %></li>
			<li>&copy; 2013 ImpactStarter, Inc. All Rights Reserved.</li>
		</ul>
	</div><!-- END #footer-container -->
</div><!-- END #footer -->
